.change-password-card {
    max-width: 300px;
}

.change-password-form {
    display: flex;
    flex-direction: column;
}

.change-password-title {
    font-weight: bold;
    font-size: 22px;
    color: #3f51b5;
}

.spacer {
    margin-right: 10px;
}

button {
    width: 100px;
}
