<mat-card class="change-password-card">
    <mat-card-header>
        <mat-card-title class="change-password-title">{{ title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="change-password-form" [formGroup]="formGroup">
            <mat-form-field>
                <input
                    formControlName="beforePassword"
                    #password
                    matInput
                    type="password"
                    placeholder="現在のパスワード"
                    autocomplete="off"
                />
            </mat-form-field>

            <mat-form-field>
                <input
                    formControlName="afterPassword1"
                    #password
                    matInput
                    type="password"
                    placeholder="変更後パスワード"
                    autocomplete="off"
                />
            </mat-form-field>

            <mat-form-field>
                <input
                    formControlName="afterPassword2"
                    #password
                    matInput
                    type="password"
                    placeholder="変更後パスワード（確認）"
                    autocomplete="off"
                />
            </mat-form-field>

            <div>
                <button mat-raised-button color="primary" type="submit">キャンセル</button>
                <span class="spacer"></span>
                <button mat-raised-button color="primary" type="submit">変更</button>
            </div>
            <ng-content></ng-content>
        </div>
    </mat-card-content>
</mat-card>
