.top {
    display: table;
    width: 100%;
    height: calc(100% - 200px);
    .change-password-form {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        .change-password-form-sub {
            width: 100%;
            text-align: left;
        }
        * {
            width: 300px;
            display: inline-block;
            text-align: center;
        }
    }
}


