<div class="top">
    <div class="new-password">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title class="title">パスワード更新</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form class="form" [formGroup]="form" (submit)="newPassword()">
                    <mat-form-field>
                        <input #code matInput placeholder="パスワード" autocomplete="new-password" formControlName="password1" type="password"/>
                    </mat-form-field>
                    <mat-form-field>
                        <input #code matInput placeholder="パスワード（確認）" autocomplete="new-password" formControlName="password2" type="password"/>
                    </mat-form-field>

                    <button mat-raised-button color="primary" type="submit">更新</button>
                    <ng-content></ng-content>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
