.message-icon {
    vertical-align: middle;
    transform: scale(1.5)
}

.example-spacer {
    margin-right: 20px;
}

.dialog-content {
    white-space: pre-wrap;
}

.buttons {
    display: block;
    text-align: right;
}
